src/network_layer/build/
src/network_layer/.cache/
src/network_utils/build/
*.exe
src/application_tool/build/
src/network_utils/.vscode/c_cpp_properties.json
src/network_utils/.vscode/launch.json
src/network_utils/.vscode/settings.json